@import url('https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css');
@import url('https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar {
    scrollbar-width: none; 
    -ms-overflow-style: none;  
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none;  
  }

.h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
}

.h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
}

.base-regular {
    @apply text-[16px] font-normal leading-[140%];
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #2196F3;
    }
    100% {
        text-shadow: 0 0 20px #2196F3;
    }
}
